@charset "utf-8";
@media screen and (min-width:1330px){
    header>div,article>div{
        width:1320px;}
    #box03>div>div{
         width: 1100px;}
    #box06>div>div{
        width: 1100px;}
    #box02>div{
        width: 980px;
    }
/*  */
}
@media screen and (max-width:1329px) and (min-width:1150px){
    #box03>div>div{
        width: 1100px;}
    #box06>div>div{
        width: 1100px;}
    #box02>div{
        width: 980px;
}
/*  */
}
@media screen and (max-width:1149px) and (min-width:990px){
    #box02>div{
        width: 980px;
/*  */
}

@media screen and (max-width:989px) and (min-width:580px){
    header{
        position: fixed;
        /* left: 0;  */
        left: -400px;
        top: 0;
        width: 100%;
        z-index: 700;
    }
    header>div{
        display: block;
        text-align: center;
    }
    nav{
        position: fixed;
        left: 0; top: 0;
        width: 400px; height: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.8);
    }
    nav>ul{
        width: 100%; height: 100%;
        background-color: aquamarine;
        flex-direction: column;
        display: flex;
        justify-content: center;
        /* align-items: center; */
}
nav>ul>li{
    margin-left: 0;
    border-bottom: 1px solid #fff;
}
nav>ul>li>a{
    width: 100%;
    line-height: 60px;
}
#btn{
    display: block;
}
nav .close{
    display: block;
}
/* box01 */
#box01{
    /* width: auto; */
    height: calc(100vh - 70px);
    /* 컨텐츠마다 다르기 때문에 */
    position: relative;
    overflow: hidden;
}
#box01>h2{
    width: 100%; 
    border: none;
    left: 0; top: 50%;
    margin: -140px 0 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #fff;
    line-height: 70px;
    text-align: center;
}
#box01>ul>li{
    background-size: auto 100%;
}
/* box02 */
}
@media screen and (max-width:579px) and (min-width:230px){
/*  */
}