@charset "utf-8";

/* font: Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

img{
    max-width: 100%;
}
body{
    font:18px/30px Arial,sans-serif;
}
.hide{
 width:0; height:0;
 font-size:0; line-height:0;
 position: absolute;
 visibility: hidden;
}
/*  layout ->  */

/* 공통 사항 */
header>div,article>div{
 /* width:1320px; */
 width: 98%;
 /* 컨텐츠크기 */
 margin: 0 auto;
 /* background-color:pink; */
}

#box02,#box03,#box04,#box05,#box06{
    padding: 85px 0;
}
div>h3{
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
}
.title{
    font-size: 30px;
    margin-bottom: 50px;
}
.text{
    margin-bottom: 50px;
}

/* header */
header{
    padding: 18px 0;
    background-color: #000;
    position: relative;
    /* 타블렛과 모바일의 버튼떄문에 포지션값을 지정 */
}
header>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1>a{
    font-family: '나눔고딕',Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

/* 네비게이션 */
nav{}
nav>ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* -----------정리---------------- */
}
nav>ul>li{
    margin-left: 40px;
}
nav>ul>li>a{
    font-weight: bold;
    color: #fff;
}

/* header 버튼 */
#btn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 18px; top: 18px;
    background-color: pink;
    display: none;
}
nav .close{
  position: absolute;
  right: 20px; top: 20px;
  width: 30px; height: 30px;
  background-color: pink;
  display: none;
}

/* box01 */
#box01{
    /* width: auto; */
    height: calc(100vh - 70px);
    /* 컨텐츠마다 다르기 때문에 */
    position: relative;
    overflow: hidden;
}
#box01>h2{
    position: absolute;
    width: 676px; height: 280px;
    border: 1px solid #fff;
    left: 50%; top: 50%;
    margin: -140px 0 0 -338px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: lighter;
    color: #fff;
    line-height: 70px;
    text-align: center;
}
#box01>ul{
    width: 400%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
}
#box01>ul>li{
    width: 25%;
    /* ul의 1/4 */
    height: 100%;
    background: url('../images/blue.jpg') no-repeat center top;
    background-size: 100%;
    text-indent: -99999px;
}
#box01.no02{background-image: url('../images/pink.jpg');}
#box01.no03{background-image: url('../images/purple.jpg');}
#box01.no04{background-image: url('../images/green.jpg');}
#box01.no{
    position:absolute;
    right: 100px;
    bottom: 30px;
}
#box01.no>a{
    display: inline-block;
    width: 20px; height: 20px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #fff;
    text-indent: -99999px;
}
#box01.prev{
  position: absolute;
  width: 40px; height: 40px;
  left: 50px; top:50%;
  border: 1px solid #fff;
  margin-top: -20px;
}
#box01.next{
  position: absolute;
  width: 40px; height: 40px;
  left: 50px; top:50%;
  border: 1px solid #fff;
  margin-top: -20px;} 

/* box02 */
#box02{}
#box02>div{
  width: 98%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#box02>div>dl{
  width: 27.34%;
  /* 268/980*100 */
  padding: 140px 0 54px;
  text-align: center;
  color: #fff;
  background: #888 url('../images/header_icon_01.png') no-repeat center 62px;
}
#box02>div>dl:nth-child(2){background-image: url('../images/header_icon_02.png');}
#box02>div>dl:nth-child(3){background-image: url('../images/header_icon_03.png');}
#box02>div>dl>dt{
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}
#box02>div>dl>dd{
  width: 80%;
  margin:  0 auto;
}
/* box03*/
#box03{
  background-color: #e8e8e8;
}
#box03>div{}
#box03>div>div{
  width: 98%;
  margin: 0 auto;
  /* background-color: #333; */
  padding-left: 440px;
  /* figure 사이즈  */
  box-sizing: border-box;
  position: relative;
}
#box03>div>div>figure{
  position: absolute;
  left: 0; top: 0;
}
#box03 .btn{}
#box03 .btn>button{
  width: 196px; height: 54px;
  background-color: #9c9491;
  border: none;
  box-sizing: border-box;
  border-radius: 27px;
  color: #fff;
}
/* box04 */
#box04{}
#box04>div{}
#box04>div>div{
  display: flex;
  flex-wrap: wrap;
}
#box04>div>div>div{
  width: 50%;
}
#box04>div>div>div>.text{
  /* width: 490px; */
  width: 74.24%;
}
#box04>div>div>ul{
  width: 50%;
}
#box04>div>div>ul>li{
  width: 80px; height: 80px;
  margin: 0 8px 16px;
  border: 2px solid #cac6c4;
  float: left;
  text-indent: -99999px;
  background: url('../images/icon/html5.png') no-repeat center;
}
#box04>div>div>ul>li:nth-child(2){background: url('../images/icon/css3.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(3){background: url('../images/icon/javascript.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(4){background: url('../images/icon/jquery.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(5){background: url('../images/icon/vue.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(6){background: url('../images/icon/react.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(7){background: url('../images/icon/bootstrap.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(8){background: url('../images/icon/git.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(9){background: url('../images/icon/npm.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(10){background: url('../images/icon/typescript.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(11){background: url('../images/icon/sass.png') no-repeat center;}
#box04>div>div>ul>li:nth-child(12){background: none;}

/* box05 */
#box05{
  background-color: #c3c3c3;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}
#box05 a{color: #fff;}
#box05>div{}
#box05>div>.text{
  width: 60%;
  margin: 0 auto 50px;
  /* 유동형일시 문제예방 */
}

/* 탭메뉴 */
#box05>div>ul{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#box05>div>ul>li{
  border-left: 1px solid #fff;
  padding: 10px;
  line-height: 1;
}

/* 갤러리 전체담당 : 버튼조절 */
#box05 .box{}
#box05 #show{}
#box05 #all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#box05 #all>figure{
  width: calc(33.33333% - 18px);
  /* 33.33333% - 1em */
  margin-bottom: 50px;
}
#box05 #all>figure>img{
  margin-bottom: 50px;
}

/* 버튼 */
#box05 .box>.prev{}
#box05 .box>.next{}

/* box06 */
#box06{background-color: #9c9491;
  color: #fff;
}
#box06>div{
  color: #fff;
}
#box06>div>div{
  /* width: 1100px; */
  width: 98%;
  margin:  0 auto;
  display: flex;
  flex-wrap: wrap;
}
#box06>div>div>div{
  width: 50%;
}
/* left */
#box06>div>div>div .title{
  margin-bottom: 20px;
}
#box06>div>div>div .text{
  width: 80%;
}
#box06>div>div>div dl{
  margin-bottom: 20px;
}
#box06>div>div>div dl>dt{
  padding-left: 37px;
  background: url('../images/contact_icon_01.png') no-repeat left center;
  background-size: 22px;
}
#box06>div>div>div dl:nth-child(2)>dt{
  padding-left: 37px;
  background: url('../images/contact_icon_02.png') no-repeat left center;
  background-size: 22px;
}
#box06>div>div>div dl:nth-child(3)>dt{
  padding-left: 37px;
  background: url('../images/contact_icon_03.png') no-repeat left center;
  background-size: 22px;
}
#box06>div>div>div dl>dd{
  padding-left: 37px;
}
/* right - form */
#box06>div>div>form{
  width: 50%;
  padding: 0 45px;
  box-sizing: border-box;
  color: #717171;
}
#box06>div>div>form>fieldset{
  background-color: #fff;
  padding: 20px;
}
#box06>div>div>form>fieldset>ul{
  /* background-color: #333; */
}
#box06>div>div>form>fieldset>ul>li{
  margin-bottom: 20px;
}
#box06>div>div>form>fieldset>ul>li>label{
  display: block;
  line-height: 1;
  margin-bottom: 6px;
}
#box06>div>div>form>fieldset>ul>li>input{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #ddd;
  line-height: 43px;
  border-radius: 4px;
  text-indent: 15px;
}
#box06>div>div>form>fieldset>ul>li>textarea{
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: none;
  background-color: #ddd;
  line-height: 43px;
  border-radius: 4px;
  text-indent: 15px;
}
#box06>div>div>form>fieldset>p{}
#box06>div>div>form>fieldset>p>input{
  width: 100%;
  box-sizing: border-box;
  height: 43px;
  border: none;
  border-radius: 4px;
  background-color: #ddd;
  color: #717171;
}

/* footer */
footer{
  padding: 40px 0;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}
/* aside */
aside>ul{
  position: fixed;
  right: 10px;
  top: 50%;
}
aside>ul>li{
  margin-bottom: 10px;
}
aside>ul>li>a{
  display: block;
  width: 20px; height: 20px;
  border-radius: 50%;
  text-indent: -99999px;
  background-color: orange;
}
aside>ul>li>a.selected{
  background-color: #000;
}
aside>p{
  position: fixed;
  right: 20px; bottom: 20px;
}
aside>p>a{
  display: block;
  width: 30px; height: 30px;
  background-color: red;
  color: #fff;
  text-indent: -99999px;
}